// Styling for the Solution section
.solution {
    margin-bottom: -15px;
    .solution-item {
        position: relative;
        display: block;
        max-width: 25rem;
        margin: 10px;
        padding: 25px;
        border-style: solid;
        border-radius: 40px;
    }
    @media (min-width: 576px) {
        margin-bottom: -30px;
        .solution-item {
        margin-bottom: 30px;
        }
    }
    }